/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/loginn/loginn.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, rgb(0, 179, 0), rgb(0, 0, 0) 35%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.contenedor {
    display: flex;
    height: 100%;
}

.contenido-izquierda {
    flex: 1;
    padding: 20px;
}

.imagen-derecha {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.imagen-derecha img {
    width: auto;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.titulose h1{
    color: white;
    position: absolute;
    top: 25%;
    left: 29%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-decoration: underline; 
    text-decoration-color: white;
    
}

.logoucp {

     /* Espacio entre la imagen y el título */
    position: relative; /* Agregamos posición relativa para poder posicionar la imagen internamente */
    top: 3%; /* Ajusta la posición verticalmente según necesites */
    left: 38%;
}

.logoucp img {
    max-width: 20%; /* Ajustar tamaño máximo de la imagen */
    height: auto;
}

.formulario {
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    
}

.formulario h1 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #adadad;
    margin-bottom: 20px;
    font-size: 25px;
}

.formulario form {
    padding: 0;
}

.formulario .username,
.formulario .contraseña {
    position: relative;
    margin-bottom: 30px;
}

.formulario input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #adadad;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none; /* Eliminar el borde de enfoque predeterminado */
}

.formulario label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #adadad;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Estilos para el label cuando el input está enfocado o tiene valor */
.formulario input:focus + label,
.formulario input:valid + label {
    top: -15px;
    left: 10px;
    font-size: 12px;
   
    padding: 0 5px;
}

.formulario .recordar {
    text-align: center;
    margin-bottom: 20px;
}

.formulario .registrarse {
    text-align: center;
}

.formulario .registrarse a {
    color: blue;
    text-decoration: none;
}

.formulario .registrarse a:hover {
    text-decoration: underline;
    color: darkblue;
}


.btn {
    background-color: white; 
    color: black;
    padding: 10px 20px; 
    font-size: 16px;
    border: 2px solid transparent; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
    outline: none;
    border-color: rgb(118, 115, 115);
    margin-top: 20px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    border: 1px solid #adadad; 
}


.btn:hover {
    background-color: #4CAF50;
    color: white; 
    border-color: #4CAF50;
}
