/* [project]/src/app/page.css [app-client] (css) */
body {
  height: 100%;
  background-color: #0ff;
}

.fa-2x {
  font-size: 2em;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.main-menu:hover, nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: #212121;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width 50ms linear;
  transition: width 50ms linear;
  z-index: 1000;
  border-right: 1px solid #0000;
  animation: 2s linear infinite border-slide;
}

@keyframes border-slide {
  0% {
    border-color: #3cff00;
  }

  50% {
    border-color: #212121;
  }

  100% {
    border-color: #8f0;
  }
}

.main-menu > ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0)scale(1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: Titillium Web, sans-serif;
}

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover, a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul, nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.main-menu li:hover > a, nav.main-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #928a8a;
}

.area {
  float: left;
  background: #e2e2e2;
}

@font-face {
  font-family: Titillium Web;
  font-style: normal;
  font-weight: 300;
  src: local(Titillium WebLight), local(TitilliumWeb-Light), url("http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff") format("woff");
}

.cuerpox {
  position: absolute;
  display: flex;
  z-index: 2;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  margin-top: 10vh;
  height: 20vh;
  align-items: center;
}

@keyframes suave {
  0% {
    background-color: #11427b59;
    transform: scale(1);
  }

  50% {
    background-color: #477eff89;
    transform: scale(1.05);
  }

  100% {
    background-color: #137b1159;
    transform: scale(1);
  }
}

.titulo {
  background-color: #11427b59;
  border-radius: 20px;
  display: inline-block;
  color: #fff;
  padding: 30px;
  border: 1px solid #fff;
  font-size: 20px;
  align-items: center;
  text-align: center;
  animation: 2s infinite suave;
  font-family: Courier New, Courier, monospace;
}

.imagen {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0 0 5px #fff;
  box-shadow: 0 0 10px #fff;
  border-radius: 10px;
  transform-style: preserve-3d;
  animation: 10s linear infinite spin;
}

h1 {
  position: relative;
  text-align: center;
  color: #353535;
  font-size: 50px;
  font-family: Cormorant Garamond, serif;
  align-items: center;
}

p {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  align-items: center;
  color: #676767;
}

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
  align-items: center;
}

button {
  margin: 20px;
  align-items: center;
}

.custom-btn {
  display: flex;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: Lato, sans-serif;
  font-weight: 500;
  background: none;
  cursor: pointer;
  transition: all .3s;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px #ffffff80, 7px 7px 20px #0000001a, 4px 4px 5px #0000001a;
  outline: none;
  align-items: center;
}

.btn-9 {
  border: none;
  transition: all .3s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Courier New, Courier, monospace;
}

.btn-9:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #45ff02 0%, #041dff 74%);
  transition: all .3s;
}

.btn-9:hover {
  background: none;
  box-shadow: 4px 4px 6px #ffffff80, -4px -4px 6px #747d8833, inset -4px -4px 6px #ffffff80, inset 4px 4px 6px #747d884d;
  color: #fff;
}

.btn-9:hover:after {
  -webkit-transform: scale(2)rotate(180deg);
  transform: scale(2)rotate(180deg);
  box-shadow: 4px 4px 6px #ffffff80, -4px -4px 6px #747d8833, inset -4px -4px 6px #ffffff80, inset 4px 4px 6px #747d884d;
}

/*# sourceMappingURL=src_app_page_b52d8e.css.map*/