/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/subir-guia/subirguia.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.Container{
    display: flex;
    position: relative;
    width: 928px;
    height: 302px;
    background: #1A202C;
    margin-top: 150px;
    margin-left: 350px;
}

h1{
position: absolute;
width: 200px;
height: 24px;
left: 86px;
top: 37px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
display: flex;
align-items: center;

color: #FFFFFF;
}


body{
    background-color: black;
}

li{
width: 8px;
height: 8px;
background: #9CD323;
flex: none;
order: 0;
flex-grow: 0;
margin-top: 59px;
margin-left: 50px;
border-radius: 5px;
}

.guia{
    box-sizing: border-box;
    
    width: 492px;
    height: 30px;
    left: 240px;
    top: 40px;
    background: #FFFFFF;
    opacity: 0.8;
    border: 1px solid #156BD6;
    border-radius: 70px;
    margin-right: 65px;
    margin-top: 100px;
    
}

.guia label{
    margin-left: 20px;
}

.guia input{
    margin-top: 20px;
}

button{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 9px 16px;
    gap: 10px;
    width: 100px;
    height: 45px;
    left: calc(50% - 223px/2 + 306.5px);
    top: calc(50% - 60px/2);
    background: #47B73C;
    border: 1px solid #CEBEFE;
    border-radius: 4px;
    margin-top: 60px;
    color: white ;
    margin-left: 50px;

}
