.Logo{
    position: absolute;
    width: 170px;
    height: 125px;
    left: 44px;
    top: 11px;
    }
    
    body{
        background-color: black;
    }
    
    
    .Saludo{
    box-sizing: border-box;
    position: absolute;
    width: 492px;
    height: 44px;
    left: 240px;
    top: 40px;
    background: #FFFFFF;
    opacity: 0.8;
    border: 1px solid #156BD6;
    border-radius: 70px;
    }
    
    .Saludo p{
    position: absolute;
    width: 412px;
    height: 28px;
    bottom: -25px;
    left: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: -0.03em;
    color: #000000;
    
    }
    
    .user-icon{
    box-sizing: border-box;
    position: absolute;
    height: 44px;
    left: 753px;
    top: 40px;
    opacity: 0.8;
    border-radius: 90px;
    }
    
    .Header{
    
        box-sizing: border-box;
        position: absolute;
        width: 1519px;
        height: 136px;
        left: 0px;
        top: 0px;
        background: #1A202C;
        background-color: #1A202C;
    }
    
    .barra_lateral{
        box-sizing: border-box;
        position: absolute;
        width: 360px;
        height: 1504px;
        left: 0px;
        top: 135px;
        background: #1A202C;
        border-right: 1px solid #0C0C0C;
    }
    
    .barra_lateral ul li {
        padding: 10px 20px;
        color: #59e712;
    
    }
    
    .barra_lateral h2{
        color: #fffbfb;
        margin-left: 30px;
    }
    
    .buscador{
    
        box-sizing: border-box;
        position: absolute;
        width: 1035px;
        height: 142px;
        left: 425px;
        top: 200px;
        border: 1px solid #fbfbfb;
        border-radius: 10px;
    
    }
    
    .buscar{
    
    box-sizing: border-box;
    position: absolute;
    width: 492px;
    height: 44px;
    left: 127px;
    top: 48px;
    color: #000000;
    opacity: 0.8;
    border: 1px solid #C3D4E9;
    border-radius: 70px;
    
    }
    
    .buscar::placeholder{
    width: 203px;
    height: 30px;
    left: 134px;
    top: 54px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
    mix-blend-mode: normal;
    }
    
    .agregar {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 9px 16px;
    gap: 10px;
    position: absolute;
    width: 223px;
    height: 60px;
    left: calc(50% - 223px/2 + 306.5px);
    top: calc(50% - 60px/2);
    background: #47B73C;
    border: 1px solid #CEBEFE;
    border-radius: 4px;
    color:aliceblue;
    
    
    }
    
    .proyectos{
    
        margin-top: 300px;
        box-sizing: border-box;
        width: 317px;
        height: 388px;
        border: 4px solid #F6F7F9;
        border-radius: 10px;
        flex: none;
        order: 0;
        flex-grow: 0;
    
    
    }
    
    
    
    
    
    
    
    
    