/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/inicio/page.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
* {
    margin: 0;
    padding: 0;
  }
  
  html,
  .cuerpo {
    height: 100vh;
  }

  h1{
    color: yellowgreen;
    background-color: blue;
    border-radius: 20px;
  }
  
  .cuerpo{
    overflow: hidden;
    color: #fff;
    display: flex;
    background: linear-gradient(to top, rgb(0, 179, 0), rgb(0, 0, 0) 35%);

    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  #signature {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
  
  #container, #carousel {
    position: relative;
    display: flex;
    margin: auto;
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
  }
  
  #container img {
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    box-shadow: 0 0 8px #fff;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
  }
  
  #container img:hover {
     box-shadow: 0 0 15px #fffd;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
  }
  
  #sol {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%) rotateX(90deg);
    background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
  }
  
  @keyframes spin {
    from{
      transform: rotateY(0deg);
    } to{
      transform: rotateY(360deg);
    }
  }
  @keyframes spinRevert {
    from{
      transform: rotateY(360deg);
    } to{
      transform: rotateY(0deg);
    }
  }


  #container {
    display: flex;
    flex-direction: column;
}


